body{
	background-color: #5b737f;
}

#main{ 
  width: 900px;
  height: 460px;
  position: relative;
  background-color: #e2e2e2;
  -webkit-perspective: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.card {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: transform 1s;
}

.card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.card .front {
  background: red;
}

.card .back {
  background: blue;
  -webkit-transform: rotateY( 180deg );
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
}

.card.match {
	visibility: hidden;
}