/*
for SVGs, scalability is difficult
use background-size and its webkit prefixes
*/


/* General Styles */

#menu {
    text-align: center;
    
}

#menu ul {
    display: inline-block;
}

#menu ul li {
    list-style-type: none;
}

ol {
    list-style: none;
}

div.row {
    margin-top: 100px;
}

footer {
    margin-top: 70px;
}

.row{
    background-color: #C3D6D1;
box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

#login {
    background-color: #C3D6D1;
}

#login h1 {
    text-align: center;
    text-shadow: 0px 1px white;
    padding: 20px;
}

#loggedIn h1 {
    padding: 20px 0px 30px 0px;
    text-shadow: 0px 1px white;
    text-align: center;
}

#loggedInContent h2 {
    padding: 20px 0px 20px 0px;
    text-align: left;
}

#loggedInContent {
    padding: 0px 0px 30px 0px;
}

.alert-message .success .pagination-centered {
    padding: 10px;
}

ul.loginList {
    text-align: center;
    margin-bottom: 30px;
}

.loginList li a, .loginList li {
    font-size: 15px;
    display: inline;
    background-color: white;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 2px;
}

.loginList li:hover {
    background-color: #628F87;
}

.loginList li a:hover {
    color: black;
    text-decoration: none;
}

.loginList a {
    color: #AB6859;
}

.loginList a:visited {
    color: #271640;
}

hr.dashes {
    border: 1px dashed #444444;
    text-align: center;
}

h2 {
    padding: 20px 0px 0px 0px;
    text-shadow: 0px 1px white;
    text-align: center;
}

::-webkit-input-placeholder { /* WebKit browsers */
   background-color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    background-color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    background-color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    background-color: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  background-color: white;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  background-color: white;
}

.form {
    margin-left: 35%;
}

.cardList {
  list-style-type: square;
  background-color: white;
  padding: 30px;
  border-radius: 2px;
  
}

.cardList a {
    color: #AB6859;
}

.cardList a:hover {
    color: black;
    text-decoration: none;
}

/* Cards */

.cardRow {
    text-align: center;
}

.card {
display: inline-block;
 width: 150px;
 height: 225px;
 -webkit-transform-style: preserve-3d;
 -webkit-transition: transform 1s;

 margin: 2%;
 color: white;

 -webkit-user-select: none;     
 -moz-user-select: none; 
 -ms-user-select: none;
}

.card figure {
 display: block;
 position: absolute;
 width: 100%;
 height: 100%;
 -webkit-backface-visibility: hidden;
}

.card .back {
 -webkit-transform: rotateY( 180deg );
 -o-transition: all .4s ease-in-out;
 -ms-transition: all .4s ease-in-out;
 -moz-transition: all .4s ease-in-out;
 -webkit-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}

.card.flipped {
 -webkit-transform: rotateY( 180deg );
 -o-transition: all .4s ease-in-out;
 -ms-transition: all .4s ease-in-out;
 -moz-transition: all .4s ease-in-out;
 -webkit-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}

.card.match {
 visibility: hidden;
}
